* {
    margin: 0;
    padding: 0;
}

// variables
$bg: #280a5f;
$light-bg: #45138d;
$pink: #FC0FC0;
$text: whitesmoke;


body {
    background: $bg;
}

.navbar {
    position: sticky;
    top: 0;
    background: $bg !important;
    // background: transparent !important;
    border-bottom: 2px solid rgb(223, 223, 223);
    z-index: 10;

    ul {
        li {
            a {
                color: $text !important;

                &:active {
                    color: $pink !important;
                }
            }
        }
    }
}

#home {
    min-height: 100vh;

    h1 {
        font-family: 'Playball';
        text-align: center;
        font-style: italic;
        color: $text;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-btn {
        background-color: $pink;
        padding: 15px 45px;
        color: $text;
        text-decoration: none;
        border-radius: 20px;
    }
}

#about {
    min-height: 100vh;

    h1 {
        font-family: 'Playball';
        color: $text;
        text-align: center;
        font-style: italic;
    }

    .content-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        p {
            color: $text;
            padding: 50px;
            border: 2px solid $pink;
            border-radius: 30px;
            font-size: 2rem;
            width: 80%;
        }
    }

    .date-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $text;
    }
}

#gallery {
    height: 100vh;
    padding: 80px 0;
}

.section-title {
    font-family: 'Playball';
    color: $text;
    text-align: center;
    font-style: italic;
}

.section-desc {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: $text;
    font-size: 25px;
    letter-spacing: .1em;
}

.gallery {
    background: $bg;
}

.gallery-cell {
    width: 66%;
    height: 500px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

#pro-nites {
    height: 100vh;
    padding: 80px 0;
    background: $bg;
}

.section-tabs {
    padding: 0 50px;
}

.tab-btn {
    background-color: $light-bg !important;
    color: $text !important;
    margin: 10px 0 !important;
}

.nav-link.tab-active {
    background-color: $light-bg !important;
    border: 2px solid $pink !important;
}

.tab-content {
    width: 80%;
    max-height: 100% !important;
}
.tab-pane.fade.show.active{
    max-height: 100% !important;
}